<% layout('./layouts/boilerplate') %>
<body>
    <h1 style="margin-left: 20px; margin-top: 15px;">All Listings</h1>
    <div class="card-container">
    <% for(let listing of AllListings) { %>
    <a href="/listing/<%= listing._id %>" class="listing-link">
    <div class="card" style="width: 18rem; height: 20rem;">
        <img src="<%= listing.image %>" class="card-img-top" alt="...">
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b>
            <br>
            &#8377; <%= listing.price.toLocaleString("en-IN") %> / night</p>
        </div>
      </div>
    <%}%>
    </a>
    </div>    
</body>